/*====================================
            COLORS
====================================*/
$main-dark-color: #252525;
$main-font-color: #bab6b6;

$accent-color: #fff600;
$accent-font-color: rgb(61, 61, 61);